Q1. my_tuple = ( (1, 2, 3), [4, 5, 6], ('apple', 'banana', 'cherry'), [7, 8, 9] )


•	Print all elements from my_tuple on a new line (using for loop)

•	Create a new tuple by concatenating the first and last elements of my_tuple

In [33]:
my_tuple = ( (1, 2, 3), [4, 5, 6], ('apple', 'banana', 'cherry'), [7, 8, 9] ) 

# 1 
for element in my_tuple:
    print(element)

# 2
new_tuple = my_tuple[0] + tuple(my_tuple[3])
print(new_tuple)

(1, 2, 3)
[4, 5, 6]
('apple', 'banana', 'cherry')
[7, 8, 9]
(1, 2, 3, 7, 8, 9)

Q2. inventory = { "The Great Gatsby": {"price": 10.99, "quantity": 5}, "Rich dad poor dad": {"price": 8.99, "quantity": 8}, "Harry Potter": {"price": 12.50, "quantity": 2}, }

•	Add a new book in inventory using method and get all book titles using method

•	Remove a book if it's out of stock

In [40]:
inventory = { "The Great Gatsby": {"price": 10.99, "quantity": 5}, "Rich dad poor dad": {"price": 8.99, "quantity": 8}, "Harry Potter": {"price": 12.50, "quantity": 3}, }

# 1
inventory.update({ "think and grow rich": {"price": 9.99, "quantity": 3} }) 
print(inventory)


book_titles = list(inventory.keys())
print(book_titles)

# 2
if inventory["Harry Potter"]["quantity"] == 0:
    del inventory["Harry Potter"]
    print("Updated inventory:", inventory)
else:
    print('Stock is available')

{'The Great Gatsby': {'price': 10.99, 'quantity': 5}, 'Rich dad poor dad': {'price': 8.99, 'quantity': 8}, 'Harry Potter': {'price': 12.5, 'quantity': 3}, 'think and grow rich': {'price': 9.99, 'quantity': 3}}
['The Great Gatsby', 'Rich dad poor dad', 'Harry Potter', 'think and grow rich']
Stock is available

Q3. An e-commerce store stores information about its products in a nested dictionary. The outer dictionary uses product IDs as keys, and the inner dictionary stores product details like name, category, price, and stock quantity.
products = { 101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50}, 102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200}, 103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30} }


•	Increase the stock of the "Shirt" product (add 50 more units)

•	Add a new product (e.g., "Smartphone")

In [53]:
products = { 
    101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50}, 
    102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200}, 
    103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30} 
}

# 1
products[102]["stock"] += 50
print(products)

# 2
products[104] = {"name": "Smartphone", "category": "Electronics", "price": 800, "stock": 100}
print(products)

{101: {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}, 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250}, 103: {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 80, 'stock': 30}}
{101: {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}, 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250}, 103: {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 80, 'stock': 30}, 104: {'name': 'Smartphone', 'category': 'Electronics', 'price': 800, 'stock': 100}}

Q4. You are given a list that contains some duplicate items. Remove the duplicates by converting the list to a set.

shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]

In [51]:
shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]
unique_items = set(shopping_list)
unique_shopping_list = list(unique_items)
print("Original shopping list:", shopping_list) 
print("Shopping list without duplicates:", unique_shopping_list)

Original shopping list: ['apple', 'banana', 'apple', 'orange', 'banana', 'grape']
Shopping list without duplicates: ['banana', 'apple', 'orange', 'grape']

Q5. You are managing a list of students enrolled in two different courses. You need to perform various set operations to understand the student enrollment. Task: Create two sets: one for students in "Course A" and one for students in "Course B". Find the students who are in "Course A" but not in "Course B" (difference). Find students who are only in one of the two courses (symmetric difference). course_a = {"John", "Alice", "Bob", "David"} course_b = {"Alice", "Eve", "Charlie", "David"}

•	Find students who are in Course A but not in Course B (difference)

•	Find students who are only in one of the two courses (symmetric difference)

In [54]:
course_a = {"John", "Alice", "Bob", "David"}
course_b = {"Alice", "Eve", "Charlie", "David"}


# 1
difference_students = course_a - course_b 
print("Students in Course A but not in Course B:", difference_students)

# 2
symmetric_difference_students = course_a ^ course_b 
print("Students only in one of the two courses:", symmetric_difference_students)

Students in Course A but not in Course B: {'John', 'Bob'}
Students only in one of the two courses: {'John', 'Eve', 'Charlie', 'Bob'}

Q6. Write a Python program that calculates the sum of all even numbers between 1 and 50 (inclusive) using a for loop.

Hint

1.	Initialize a variable to hold the sum (e.g., sum_of_evens).
2.	Use a for loop to iterate through all numbers from 1 to 50.
3.	Inside the loop, check if the number is even.
4.	If the number is even, add it to sum_of_evens.
5.	After the loop finishes, print the total sum of all even numbers between 1 and 50.

In [24]:
sum_of_evens = 0
for number in range(1, 51):
    if number % 2 == 0:
        sum_of_evens += number 
print("The sum of even numbers between 1 and 50 is:", sum_of_evens)

The sum of even numbers between 1 and 50 is: 650

Q7. Write a Python program that prints the multiplication table for a given number (between 1 and 10) using a for loop.

Hint:

1.	Ask the user for a number between 1 and 10 .
2.	Use a for loop to iterate through the numbers from 1 to 10.
3.	For each iteration, calculate the product of the given number and the current number in the loop.
4.	Print the result in a readable format (e.g., 5 x 1 = 5).
5.	Ensure the program works correctly for any number between 1 and 10.

Output Hint:

- 4 x 1 = 4
- 4 x 2 = 8
- 4 x 3 = 12
- 4 x 4 = 16
- 4 x 5 = 20
- 4 x 6 = 24
- 4 x 7 = 28
- 4 x 8 = 32
- 4 x 9 = 36
- 4 x 10 = 40

In [27]:
number = int(input("Enter a number between 1 and 10: "))
if 1 <= number <= 10:
    print(f"Multiplication Table for {number}:")
    for i in range(1, 11):
        print(f"{number} x {i} = {number * i}")
else:
    print("Please enter a number between 1 and 10.")

Enter a number between 1 and 10:  4

Multiplication Table for 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Q8. Power of a Number
Write a Python program that takes a number and prints the powers of the number (starting from 1 to 10) using a while loop. For example, if the user inputs 3, the output should be:

3^1 = 3

3^2 = 9

3^3 = 27

... up to 3^10.

In [28]:
number = int(input("Enter a number: "))
i = 1
while i <= 10:
    power = number ** i
    print(f"{number}^{i} = {power}")
    i += 1

Enter a number:  22

22^1 = 22
22^2 = 484
22^3 = 10648
22^4 = 234256
22^5 = 5153632
22^6 = 113379904
22^7 = 2494357888
22^8 = 54875873536
22^9 = 1207269217792
22^10 = 26559922791424

Q9.  Problem Statement: Write a Python program that takes an integer input from the user and counts down from that number to 0. The program should display the current number at each step until it reaches 0, at which point it should print a message indicating the countdown is finished

Output Hint:

Enter a number to start the countdown:  3
- 3
- 2
- 1
- 0
- Countdown finished!

In [30]:
n = int(input("Enter a number to start the countdown: "))
while n >= 0:
    print(n)
    n -= 1 
print("Countdown finished!")

Enter a number to start the countdown:  3

3
2
1
0
Countdown finished!

Q10. Write a Python program that takes an integer input n from the user and generates a right-angled triangle pattern of stars (*) with n rows. The first row should contain 1 star, the second row 2 stars, the third row 3 stars, and so on until the nth row.
Ensure the stars in each row are separated by spaces, and each row starts on a new line.

In [ ]:
# Pattern:
*
**
***
****
*****

In [31]:
n = int(input("Enter the number of rows: "))
for i in range(1, n + 1):  
    for j in range(i):
        print("*", end=" ") 
    print()

Enter the number of rows:  33

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *